

header { 
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.685);
    opacity: 0.5rem;
    display: flex;
    justify-content: flex-end;

}

h1 {  
    border-color: navy;  
    border-width: 2px;  
    border-style: inset;  
    margin-right: 600px; 
    font-size: 48px;
    font-weight: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(107, 101, 170);

    }

body {
    background-color:rgb(240, 230, 236);
    
}


ul {
    float: right;
    font-size: 20px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


header ul { 

    list-style-type: none;

}

header ul li {
    display: inline-block;
    margin-left: 25px;
    margin-top: 25px;

}

.container {
    position: relative;
  }
  
img {
    width: 100%;
    height: 250px;
}

.verticalLine {
    height: 200px;
    border-left: 3px solid navy;
    margin-left: 200px;
    margin-top: -75px;

}

.verticalLine2 {
    height: 900px;
    border-left: 3px solid navy;
    margin-left: 200px;
    margin-top: -75px;

}

.pic1 {
    width: 2000px;
    height: 400px;
    opacity: 1;
    filter: alpha(opacity=100);
    background: url(https://images.unsplash.com/photo-1577017040065-650ee4d43339?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80) no-repeat;
    background-size: 1200px;
    margin-left: 225px;
    margin-top: -900px;
}

.pic2 {
    width: 550px;
    height: 250px;
    opacity: 1;
    display: flex;
    flex-wrap: wrap;
    filter: alpha(opacity=100);
    background: url(https://images.unsplash.com/photo-1550537687-c91072c4792d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHBhdHRlcm58ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60) no-repeat;
    background-size: 1200px;
    margin-left: 225px;
    margin-top: -50px; 

}   

.pic3 {
    width: 550px;
    height: 250px;
    opacity: 1;
    display: flex;
    flex-wrap: wrap;
    filter: alpha(opacity=100);
    background: url(https://images.unsplash.com/photo-1586073305502-5c5cc4a594bd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=654&q=80) no-repeat;
    background-size: 1200px;
    margin-left: 825px;
    margin-top: -240px; 


}   

.pic4 {
    width: 550px;
    height: 250px;
    opacity: 1;
    display: flex;
    flex-wrap: wrap;
    filter: alpha(opacity=100);
    background: url(https://images.unsplash.com/photo-1470092306007-055b6797ca72?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDh8fG9jZWFufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60) no-repeat;
    background-size: 1200px;
    margin-left: 225px;
    margin-top: 25px; 

}   

.pic5 {
    width: 550px;
    height: 250px;
    opacity: 1;
    display: flex;
    flex-wrap: wrap;
    filter: alpha(opacity=100);
    background: url(https://images.unsplash.com/photo-1531165424588-80b93de6f807?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80) no-repeat;
    background-size: 1200px;
    margin-left: 825px;
    margin-top: -240px; 

}   

.pic1:hover {
    opacity: 0.6;
    filter: alpha(opacity=.6);

}

.pic2:hover {
    opacity: 0.6;
    filter: alpha(opacity=.6);
}

.pic3:hover {
    opacity: 0.6;
    filter: alpha(opacity=.6);
}

.pic4:hover {
    opacity: 0.6;
    filter: alpha(opacity=.6);
}

.pic5:hover {
    opacity: 0.6;
    filter: alpha(opacity=.6);
}



.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(245, 238, 177, 0.7);
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    font-weight: normal;

}

.text-block2 {
    position: relative;
    bottom: 20px;
    right: 20px;
    background-color: rgba(245, 238, 177, 0.7);
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 400px;
    margin-right: 700px;
    margin-top: -100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    font-weight: normal;
}

.text-block3 {
    width: 100px;
    height: 50px;
    margin-left: 450px;
    margin-top: -60px;
    background-color: rgba(245, 238, 177, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.text-block4 {
    width: 100px;
    height: 50px;
    margin-left: 1070px;
    margin-top: -60px;
    background-color: rgba(245, 238, 177, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.text-block5 {
    width: 100px;
    height: 50px;
    margin-left: 450px;
    margin-top: -60px;
    background-color: rgba(245, 238, 177, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.text-block6 {
    width: 100px;
    height: 50px;
    margin-left: 1070px;
    margin-top: -60px;
    background-color: rgba(245, 238, 177, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}


aside h3 {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 40px;

}

aside p {
    font-size: 20px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    margin-left: 25px;

}

aside h4 {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 40px;

}

aside h5 {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 40px;
    margin-left: 20px;

}

section h6 {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 20px;



}

footer h4 {

    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 40px;



}

footer .phone {
    display: flex;
    flex-wrap: wrap;
    margin-left: 225px;
    margin-top: -200px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-decoration: underline;


}

footer .email {
    display: flex;
    flex-wrap: wrap;
    margin-left: 500px;
    margin-top: -40px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-decoration: underline;


}

footer .box {
    display: flex;
    flex-wrap: wrap;
    margin-left: 900px;
    margin-top: -40px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-decoration: underline;


}




/* body {
    display: flex;
    flex-wrap: wrap;
  } */


  @media screen and (max-width: 768px) {
    header, .phone, .email, .box, section {
      flex-direction: column;
    }
  }
  